@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
	height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
    padding-bottom: 15px;
}

.padding {
    padding-bottom: 4px;
}

.welcome {
    width:75%;
    margin: 0 auto;
    padding-top: 10px;
}

.welcome hr {
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
	padding:20px;
}


.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}

.lead {
    padding-bottom: 30px;
}

.social a{
    font-size: 40px;
    padding:30px;
}

.fa-facebook{
    color:#3b5998;
}

.fa-instagram{
    color:#517fa4;
}

.fa-youtube{
    color:red;
}

.fa-facebook:hover, .fa-instagram:hover, .fa-youtube:hover {
    color: #d5d5d5;
}

footer {
    min-width: 100%;
    background-color: #3f3f3f;
    color: #d5d5d5;
    margin-top: 40px;
    position: absolute;
}

footer h4 {
    padding-top:35px;
}

footer informations {
    padding-top: 35px;
}


/*---Media Queries --*/


@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/